/* Acá van tus estilos */
body{
	background-color: #F4F4F4;
}
.perfil{
	background-color: white;
	margin-top: 15%;
	padding-bottom: 20%;
	border-radius: 3%;
}
.perfil img{
	width: 25%;
	height: auto;
	padding-top: 5%;
	margin: 0 auto 5px auto;
	border-radius: 50%;
}


